<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>BLOG DETAY SAYFASI</h1>
    <h2>ERCAN KABALI</h2>
    <h3>1220606803</h3>
    
</body>
</html>