<div class="list-group">
        CATEGORILER
   <%categories.forEach(category => { %>
        <a href ='/blog/category/<%= category.categoryId %>' 
     class="list-group-item list-group-item-action <%= selectedCategory  == category.categoryId ? 'active' : '' %>">
     <%= category.categoryName%>
         </a>
   <%});  %>
</div>